<footer class="footer-distributed">

  <div class="footer-left">

    <h3>
      <span>Jordan Shop</span>
    </h3>

    <p class="footer-links">
      <a routerLink="/home">Home</a>		
    </p>
    <p class="footer-links">
      <a data-toggle="modal" data-target="#exampleModal" routerLink="/addproduct" >Add Product</a>		
    </p>

    <p class="footer-company-name">Jordan Shop &copy; 2019</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>5 Dong Quan</span> Hanoi, Viet Nam
      </p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>0123456789</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="mailto:support@company.com"><span>jordanShop @gmail.com</span></a>
      </p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the Jordan Shop</span>
      Shop Jordan for men for the latest Jordan shoes, clothing and gear on Nike.com. Enjoy free shipping and returns with NikePlus.
    </p>

    <div class="footer-icons">

      <a href=""><i class="fa fa-facebook"></i></a> <a href=""><i
        class="fa fa-twitter"></i></a> <a href=""><i
        class="fa fa-linkedin"></i></a> <a href=""><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>