<!-- Bắt đầu Form Edit -->
<!-- Modal -->
<div class="modal fade" id="exampleModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form #formEditProduct="ngForm" (submit)="editProduct(formEditProduct)">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelEdit">Form Edit Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="form-group" *ngIf="dataEdit">
  
              <b>Product ID : </b>
              <input type="text" 
                name="id"
                class="form-control"
                placeholder="Product ID"
                [(ngModel)]="dataEdit.id"
                readonly
              /> 
              
              <b>Product Name : </b>
              <input type="text" 
                name ="name"
                class="form-control"
                placeholder="Product Name"
                [(ngModel)]="dataEdit.name"
                required
                minlength="4"
                #productName="ngModel"
              />

              <div *ngIf="productName.dirty && productName.errors?.required"
                class="alert alert-danger">            
                  Không được để trống       
              </div>

              <div *ngIf="productName.dirty && productName.errors?.minlength"
                class="alert alert-danger">            
                  Có ít nhất 4 ký tự
              </div>
              
              <b>Category : </b>
              <select name="categoryId" 
                        class="form-control" 
                        #cateid
                        [(ngModel)]="dataEdit.categoryId" 
                        required>
                  <option *ngFor="let cate of categorys" [value]="cate.id" >
                    {{cate.id}}. {{cate.name}}
                  </option>
                </select>
          
              <b>Product Imglink : </b>
              <input type="text" 
                name="imglink"
                class="form-control"
                placeholder="Product Image"
                [(ngModel)]="dataEdit.imglink"
                required
                minlength="4"
                #productimglink = "ngModel" 
              />

              <div *ngIf="productimglink.dirty && productimglink.errors?.required"
                class="alert alert-danger">            
                  Không được để trống       
              </div>

              <div *ngIf="productimglink.dirty && productimglink.errors?.minlength"
                class="alert alert-danger">            
                  Có ít nhất 4 ký tự
              </div>
        
              <img src="{{dataEdit.imglink}}" width="100%" height="300px"/>
  
              <br>
              <b>Product Price Sale : </b>
              <input type="number" 
                name="pricesale"
                class="form-control"
                placeholder="Product Price Sale"
                [(ngModel)]="dataEdit.pricesale"
                required
                #productpricesale = "ngModel"
              />

              <div *ngIf="productpricesale.dirty && productpricesale.errors?.required"
                class="alert alert-danger">            
                  Không được để trống       
              </div>
        
              <b>Product Price Regular : </b>
              <input type="number" 
                name="priceregular"
                class="form-control"
                placeholder="Product Price Regular"
                [(ngModel)]="dataEdit.priceregular"
                required
                #productpriceregular = "ngModel"
              />
    
              <div *ngIf="productpriceregular.dirty && productpriceregular.errors?.required"
                class="alert alert-danger">            
                  Không được để trống       
              </div>

              <b>Product Status : </b>
              <input type="text" 
                class="form-control"      
                value="{{dataEdit.status ? 'Còn Hàng' : 'Hết Hàng'}}"
                readonly
              />
          
              <input type="checkbox" 
                name="status"
                class="form-control"
                [(ngModel)]="dataEdit.status"
                [ngModelOptions]="{standalone: true}"
              />
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </form>
</div>
  
  <!-- Kết thúc Form Edit -->